.wrapper {
    display: flex;
    
    gap:20px;
}

.imgContent img {
    width: 205px;
    height: 347px;
}
.EachMovie {
    display: flex;
    gap: 20px;
    padding-bottom: 39px; 
}

.topMovie {
    flex:3;
    width: 265px;
}

.topMovie h2 {
    margin-bottom: 35px;
    color: red;
    font-size: 27px;
}

.Movies {
    flex:7;
}

.sideEachMovie {
    display: flex;
    padding-bottom: 12px;
    gap:13px;
    background-color: rgb(221, 239, 233);
}

.sideContent span {
    display: block;
}

.imgSideContent img {
    width: 118px;
    height: 159px;
}



.smallContent p {
    font-weight: bold;
    
}

.smallContent a {
    font-weight: normal;
    
}

.pagenigation {
    display: none;
}

.banner img {
    width: 294px;
    height: 390px;
}

.bottomBanner img {
    width: 294px;
    height: 390px;
    margin-top: 25px;
}