.movieInfo h3 {
    font-size: 17px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 3.5%;
}
.rating {
    margin-top: 4px;
    
    border-radius: 4px;
    font-size: 12px;
    color: #666;

}

.movieInfo p {
    font-size: 14px;
    color: #555;
    padding: 5px 0px 25px 13px;
    margin-left: 3.5%;
}

.leftback {
    position: absolute;
    top: 4%;
    left: 1%;
}

.movieInfo {
    width: 100%;
    
    background-color: #fff;
}

