.wrapper {
    display: flex;
    
}
.imgContent img {
    width: 205px;
    height: 347px;
}
.EachMovie {
    display: flex;
    gap: 20px;
    padding-bottom: 39px; 
    width: 855px;
}

.topMovie {
    flex:3;
}


.Movies {
    flex:7;
}
.Movies a {
    text-decoration: none;
    color: black;
}

.sideEachMovie {
    display: flex;
    padding-bottom: 12px;
    gap:13px;
}

.sideContent span {
    display: block;
}

.imgSideContent img {
    width: 118px;
    height: 159px;
}



.smallContent p {
    font-weight: bold;
    
}

.smallContent a {
    font-weight: normal;
    
}

.pagenigation {
    display: block;
}


.info {
    margin-bottom: 20px;
    font-size: 18px;
}

.info span {
    display: inline-block;
    margin-right: 10px;
    background-color: #ff9900;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
   
    margin-bottom: 20px;
}

.info p {
    margin: 5px 0;
    font-size: 15px;
    
}

.info h1 {
    font-size: 23px;
    margin-bottom: 6px;
}

//hieu ung them 


.imgContent {
    overflow: hidden; // Đảm bảo hình ảnh không bị tràn ra ngoài khi phóng to
    img {
      transition: transform 0.3s ease, box-shadow 0.3s ease; // Thêm transition cho hiệu ứng
    }
  }
  
  .EachMovie:hover .imgContent img {
    transform: scale(1.1); // Phóng to hình ảnh khi di chuột vào
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Thêm hiệu ứng bóng
  }